<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
    <title>Lista Productos</title>
</head>
<body>
    <a href="http://localhost:8080/">Volver a la carga de productos</a>
    <div class="bg-secondary bg-opacity-25 p-4 m-2">
        <h1 class="text-primary fw-bold d-block text-center">Vista de Productos</h1>
        <%if (productos.length > 0) { %>
            <table class="text-white table bg-dark p-2">
                <thead>
                    <tr class="text-center">
                        <th class="text-center col">Nombre</th>
                        <th class="text-center col">Precio</th>
                        <th class="text-center col">Foto</th>
                    </tr>
                </thead>
                <tbody>
                <% productos.forEach(function(item) {%>
                    <tr class="border border-secondary">
                        <td>
                            <title class="d-inline text-center"><%= productos.title %></title>
                        </td>
                        <td>
                            <div class="text-center">
                                <span>Precio:$<%= productos.price %></span>
                            </div>
                        <td>
                            <div class="text-center w-25">
                                <img class="img-fluid" src=<%= productos.thumbnail %> alt="imagen producto">
                            </div>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        <%}
        else { %>
            <span class="text-secondary text-center bg-warning bg-opacity-25 p-2 fw-bold">No se encontraron productos</span>
            <%}%>
        %>
    </div>
</body>
</html>